@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Cambiar el color de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}
